body{
  background-color: white;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  
}
.green{
  color: green;
}

ul{
  list-style-type: none;
}
#hom{
  margin-left: 430px;
}
#news{
  margin-left: 120px;
}
#cur{
  margin-left: 120px;
}
#quizjay{
  display: none;
  font-family: 'Abril Fatface', cursive;
  font-family: 'Bree Serif', serif;
  font-family: 'Luckiest Guy', cursive;
  font-family: 'Playfair Display', serif;
  font-family: 'Staatliches', cursive;
  font-family: 'Baloo', cursive;
}

.details{
  display: none;
}
.ques{
  display: none;
}

.cdn{
  display: none;
}

.effects{
  display: none;
}

.chain{
  display: none;
}
#last{
  display: none;
}
.ajax{
  display: none;
}

#jquiz{
  display: none;
}

.pers{
  display: none;
}
.cop{
  text-align: center;
}

#leggo{
  border-radius: 40px;
  width: 200px;
  padding: 20px;
  font-size: 30px;
}

#regy,#start,#nexQue1,#nextQue2,#nextQue3,#nextQue4,#sub,#last{
  border-radius: 20px;
  font-size: 20px;
  padding: 10px;
}

#regy{
  margin-top: 20px;
}

#result{
  float: left;
  margin-right: 50px;
  font-family: 'Abril Fatface', cursive;
  font-family: 'Bree Serif', serif;
  font-family: 'Luckiest Guy', cursive;
  font-family: 'Playfair Display', serif;
  font-family: 'Staatliches', cursive;
  }

#leggo:hover,#regy:hover,#start:hover,#nextQue1:hover,#nextQue2:hover,#nextQue3:hover,#nextQue4:hover,#sub:hover,#last:hover{
  background-color: #212121;
}

#h1{
  font-family: 'Abril Fatface', cursive;
  font-family: 'Bree Serif', serif;
  font-family: 'Luckiest Guy', cursive;
  font-family: 'Playfair Display', serif;
  font-family: 'Baloo', cursive;
  font-family: 'Anton', sans-serif;
}

.pers>input{
  border-radius: 20px;
  padding: 10px;
}
#col{
  margin-left: 890px;
}

#pers{
  font-family: 'Abril Fatface', cursive;
  font-family: 'Bree Serif', serif;
  font-family: 'Luckiest Guy', cursive;
  font-family: 'Playfair Display', serif;
  font-family: 'Staatliches', cursive;
  font-family: 'Baloo', cursive;
}

.name,.phone,.email{
  border-bottom: 2px solid black;
  width: 250px;
  padding: 20px;
}
.green-background {
        background-color: green;
      }

      .yellow-background {
        background-color: yellow;
      }

      .turqious-background {
        background-color: #BBDEFB;
      }
